<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>A Web Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'quotes/css/foundation.css' %}" />
        <link rel="stylesheet" href="{% static 'quotes/css/style.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div id="activities">
                <div>
                    <h2>Register</h2>
                    <form name="register" id="register" action="register" method="POST">
                        {% csrf_token %}
                        <label>
                            First Name:
                            <input type="text" name="first_name"/>
                            <span class="error">
                            {% for message in messages %}
                                {% if message.tags == 'first_name error' %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
                            </span>
                        </label>
                        <br />
                        <label>
                            Last Name:
                            <input type="text" name="last_name" />
                            <span class="error">
                            {% for message in messages %}
                                {% if message.tags == 'last_name error' %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
                            </span>
                        </label>
                        <br>
                        <label>
                            Email:
                            <input type="text" name="email" />
                            <span class="error">
                                {% for message in messages %}
                                    {% if message.tags == 'email error' %}
                                        {{message}}
                                    {% endif %}
                                    {% if message.tags == 'duplicate error' %}
                                        {{message}}
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </label>
                        <br />
                        <label>
                            Password:
                            <input type="password" name="password" />
                            <span class="error">
                            {% for message in messages %}
                                {% if message.tags == 'password error' %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
                            </span>
                        </label>
                        <label>
                            Retype Password:
                            <input type="password" name="password2" />
                            <span class="error">
                            {% for message in messages %}
                                {% if message.tags == 'passwordmatch error' %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
                            </span>
                        </label>
                        <br />
                        <button type="submit" id="regsubmit">Add</button>
                    </form>
                </div>
                <div>
                    <h2>Login</h2>
                    <form action="login" method="POST">
                        {% csrf_token %}
                        <label>
                            Email:
                            <input type="text" name="email" />
                            <span class="error">
                                {% for message in messages %}
                                    {% if message.tags == 'loginerr error' %}
                                        {{message}}
                                    {% endif %}
                                    {% if message.tags == 'email2 error' %}
                                        {{message}}
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </label>
                        <br />
                        <label>
                            Password:
                            <input type="password" name="password" />
                            <span class="error">
                            {% for message in messages %}
                                    {% if message.tags == 'loginerr error' %}
                                        {{message}}
                                    {% endif %}
                                    {% if message.tags == 'password2 error' %}
                                        {{message}}
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </label>
                        <br />
                        <button type="submit">Log In</button>
                    </form>
                    
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'quotes/js/script.js' %}"></script>
    </body>
</html>
