:root {
    --primarytext: #e67025;
    --secondarytext: rgb(245, 245, 245);
    --primarybackground: #4b4b4b;
    --secbackground: #993b00;
}

* {
    padding: 0px;
    margin: 0px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: auto;
}

#header {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    border: solid 2px steelblue;
    padding: 25px;
    margin-top: 20px;
}

#header h3 {
    min-width: 200px;
    width: 60%;
}
#header div {
    /* width: 300px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header div a{
    margin: 0px 20px
}

#edituser {
    display: flex;
    justify-content: flex-start;
    width: 900px;
    padding: 30px;
}

#quotelist {
    width: 700px;
    overflow-y: auto;
    height: 900px;
}

.quoteitem {
    margin: 0px 20px;
}

.likebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

#main {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    width: 1000px;
    padding-top: 30px;
}

.error {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    border: solid 1px steelblue;
    border-radius: 15px;
    align-self: flex-end;
    padding: 5px;
}

.favoriters {
    display: flex;
    width: 600px;
    justify-content: space-between;
    border: solid 2px steelblue;
    padding: 25px;
    margin: 25px;
}

#addquote {
    width: 230px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(56, 104, 143);
}

::-webkit-scrollbar-thumb:hover {
    background: steelblue;
}

#logout {
    border: solid 2px steelblue;
    padding: 10px;

}